.add-event-modal {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: aliceblue;
	z-index: 2;
	transition: all 0.2s ease-out;
}

.add-event-form {
	width: 100%;
	max-width: 500px;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.add-event-form h1 {
	text-align: center;
}
