/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

::-webkit-scrollbar {
	background-color: grey;
	overflow: auto;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: darkgray;
}

html {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	/* padding-top: 64px; */
	/* background-color: #000; */
}

.app {
	height: 100vh;
	/* overflow: hidden; */
}

.flex-grow {
	flex-grow: 1;
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

input[type='time']::-webkit-calendar-picker-indicator {
	display: none;
}
